@charset "UTF-8";

/* ../view/main/tab/chrome-tabs.css */
.chrome-tabs {
  box-sizing: border-box;
  position: relative;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 12px;
  height: 46px;
  padding: 8px 3px 4px 3px;
  background: #dee1e6;
  overflow: hidden;
}
.chrome-tabs * {
  box-sizing: inherit;
  font: inherit;
}
.chrome-tabs .chrome-tabs-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.chrome-tabs .chrome-tab {
  position: absolute;
  left: 0;
  height: 36px;
  width: 240px;
  border: 0;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}
.chrome-tabs .chrome-tab,
.chrome-tabs .chrome-tab * {
  user-select: none;
  cursor: default;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-app-region: no-drag;
  pointer-events: auto;
}
.chrome-tab[NotClose] .chrome-tab-close {
  display: none;
}
.chrome-tabs .chrome-tab .chrome-tab-dividers {
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: var(--tab-content-margin);
  right: var(--tab-content-margin);
}
.chrome-tabs .chrome-tab .chrome-tab-dividers,
.chrome-tabs .chrome-tab .chrome-tab-dividers::before,
.chrome-tabs .chrome-tab .chrome-tab-dividers::after {
  pointer-events: none;
}
.chrome-tabs .chrome-tab .chrome-tab-dividers::before,
.chrome-tabs .chrome-tab .chrome-tab-dividers::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #a9adb0;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.chrome-tabs .chrome-tab .chrome-tab-dividers::before {
  left: 0;
}
.chrome-tabs .chrome-tab .chrome-tab-dividers::after {
  right: 0;
}
.chrome-tabs .chrome-tab:first-child .chrome-tab-dividers::before,
.chrome-tabs .chrome-tab:last-child .chrome-tab-dividers::after {
  opacity: 0;
}
.chrome-tabs .chrome-tab .chrome-tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg {
  width: 100%;
  height: 100%;
}
.chrome-tabs .chrome-tab .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #f4f5f6;
}
.chrome-tabs .chrome-tab[active] {
  z-index: 5;
}
.chrome-tabs .chrome-tab[active] .chrome-tab-background > svg .chrome-tab-geometry {
  fill: #fff;
}
.chrome-tabs .chrome-tab:not([active]) .chrome-tab-background {
  transition: opacity 0.2s ease;
  opacity: 0;
}
@media (hover: hover) {
  .chrome-tabs .chrome-tab:not([active]):hover {
    z-index: 2;
  }
  .chrome-tabs .chrome-tab:not([active]):hover .chrome-tab-background {
    opacity: 1;
  }
}
.chrome-tabs .chrome-tab.chrome-tab-was-just-added {
  top: 10px;
  animation: chrome-tab-was-just-added 120ms forwards ease-in-out;
}
.chrome-tabs .chrome-tab .chrome-tab-content {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: var(--tab-content-margin);
  right: var(--tab-content-margin);
  padding: 9px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  pointer-events: all;
}
.chrome-tabs .chrome-tab[is-mini] .chrome-tab-content {
  padding-left: 2px;
  padding-right: 2px;
}
.chrome-tabs .chrome-tab .chrome-tab-favicon {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  height: 16px;
  width: 16px;
  background-size: 16px;
  margin-left: 4px;
}
.chrome-tabs .chrome-tab[is-small] .chrome-tab-favicon {
  margin-left: 0;
}
.chrome-tabs .chrome-tab[is-mini]:not([active]) .chrome-tab-favicon {
  margin-left: auto;
  margin-right: auto;
}
.chrome-tabs .chrome-tab[is-mini][active] .chrome-tab-favicon {
  display: none;
}
.chrome-tabs .chrome-tab .chrome-tab-title {
  flex: 1;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 4px;
  color: #5f6368;
  -webkit-mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
  mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
}
.chrome-tabs .chrome-tab[is-small] .chrome-tab-title {
  margin-left: 0;
}
.chrome-tabs .chrome-tab .chrome-tab-favicon + .chrome-tab-title,
.chrome-tabs .chrome-tab[is-small] .chrome-tab-favicon + .chrome-tab-title {
  margin-left: 8px;
}
.chrome-tabs .chrome-tab[is-smaller] .chrome-tab-favicon + .chrome-tab-title,
.chrome-tabs .chrome-tab[is-mini] .chrome-tab-title {
  display: none;
}
.chrome-tabs .chrome-tab[active] .chrome-tab-title {
  color: #45474a;
}
.chrome-tabs .chrome-tab .chrome-tab-drag-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.chrome-tabs .chrome-tab .chrome-tab-close {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0, .65)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}
@media (hover: hover) {
  .chrome-tabs .chrome-tab .chrome-tab-close:hover {
    background-color: #e8eaed;
  }
  .chrome-tabs .chrome-tab .chrome-tab-close:hover:active {
    background-color: #dadce0;
  }
}
@media not all and (hover: hover) {
  .chrome-tabs .chrome-tab .chrome-tab-close:active {
    background-color: #dadce0;
  }
}
@media (hover: hover) {
  .chrome-tabs .chrome-tab:not([active]) .chrome-tab-close:not(:hover):not(:active) {
    opacity: 0.8;
  }
}
.chrome-tabs .chrome-tab[is-smaller] .chrome-tab-close {
  margin-left: auto;
}
.chrome-tabs .chrome-tab[is-mini]:not([active]) .chrome-tab-close {
  display: none;
}
.chrome-tabs .chrome-tab[is-mini][active] .chrome-tab-close {
  margin-left: auto;
  margin-right: auto;
}
@-moz-keyframes chrome-tab-was-just-added {
  to {
    top: 0;
  }
}
@-webkit-keyframes chrome-tab-was-just-added {
  to {
    top: 0;
  }
}
@-o-keyframes chrome-tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes chrome-tab-was-just-added {
  to {
    top: 0;
  }
}
.chrome-tabs.chrome-tabs-is-sorting .chrome-tab:not(.chrome-tab-is-dragging),
.chrome-tabs:not(.chrome-tabs-is-sorting) .chrome-tab.chrome-tab-was-just-dragged {
  transition: transform 120ms ease-in-out;
}
.chrome-tabs .chrome-tabs-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.chrome-tabs-optional-shadow-below-bottom-bar {
  position: relative;
  height: 1px;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1' viewBox='0 0 1 1'><rect x='0' y='0' width='1' height='1' fill='rgba(0, 0, 0, .17)'></rect></svg>");
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 0%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .chrome-tabs-optional-shadow-below-bottom-bar {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'><rect x='0' y='0' width='2' height='1' fill='rgba(0, 0, 0, .27)'></rect></svg>");
  }
}
#System_windrag {
  height: 100%;
  position: absolute;
  left: 589px;
  width: 589px;
  top: 0px;
}
.chrome-tabs[ShowMenu] .chrome-tabs-content {
  width: calc(100% - 170px);
}
.chrome-tabs[ShowMenu] .MenuSystem {
  display: block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.windrag {
  -webkit-app-region: drag;
  pointer-events: none;
}
.gg-log-out {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 6px;
  height: 16px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-left: -10px;
}
.gg-log-out::after,
.gg-log-out::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-log-out::after {
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  width: 8px;
  height: 8px;
  left: 4px;
  bottom: 2px;
}
.gg-log-out::before {
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 5px;
  bottom: 5px;
}
.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}
.gg-maximize {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 12px;
  box-shadow:
    -6px -6px 0 -4px,
    6px 6px 0 -4px,
    6px -6px 0 -4px,
    -6px 6px 0 -4px;
}
.gg-minimize {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.9));
  width: 4px;
  height: 4px;
  box-shadow:
    -8px -4px 0 -1px,
    -6px -4px 0 -1px,
    8px 4px 0 -1px,
    6px 4px 0 -1px,
    8px -4px 0 -1px,
    6px -4px 0 -1px,
    -8px 4px 0 -1px,
    -6px 4px 0 -1px;
}
.gg-minimize::after,
.gg-minimize::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 18px;
  border-top: 6px solid;
  border-bottom: 6px solid;
  box-shadow: 18px 0 0 -2px;
  top: -7px;
}
.gg-minimize::after {
  left: -3px;
}
.gg-minimize::before {
  right: -3px;
}
.gg-math-minus {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 2px;
  background: currentColor;
  border-radius: 10px;
}
.gg-push-chevron-up {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 0.9));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-push-chevron-up::after,
.gg-push-chevron-up::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-top: 2px solid;
}
.gg-push-chevron-up::before {
  top: 0;
  width: 14px;
  height: 2px;
  left: 2px;
}
.gg-push-chevron-up::after {
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
}
.gg-undo {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-left-color: transparent;
  border-radius: 100px;
}
.gg-undo::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-left: 2px solid;
  top: -3px;
  left: -1px;
  transform: rotate(-68deg);
}
.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-left::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 4px;
}
.TopMume_Mume_All {
  cursor: pointer;
  right: 5px;
  position: fixed;
  display: flex;
  color: #5454549e;
  z-index: 10679;
  align-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0.3em;
  pointer-events: auto;
}
.TopMumeBackgroundMumeClose:hover {
  background-color: #F56C6C;
  color: #ffffffc7;
}
.TopMumeBackgroundMume:hover {
  background-color: #ffffff5c;
}
.TopMumeBackgroundMume[lock] {
  background-color: #ffffff5c;
}
.TopMumeBackgroundMumesize {
  -webkit-app-region: no-drag;
  pointer-events: auto;
  border-radius: 5px;
  min-width: 30px;
  min-height: 30px;
  margin: 2px 2px 0 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: rgb(170 182 193);
}
#TopMume_Top.Top {
  background-color: #ffffff5c;
  color: #00000059;
}
.division {
  z-index: 99;
  bottom: -3px;
  width: 105vw;
  left: -5px;
}
.gg-redo {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 14px;
  height: 14px;
  border: 2px solid;
  border-right-color: transparent;
  border-radius: 100px;
}
.gg-redo::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  top: -3px;
  right: -1px;
  transform: rotate(68deg);
}
#TopMume_relaunch:hover {
  background-color: #F56C6C;
  color: #ffffffc7;
}

/* ../view/main/Preset.css */
::-webkit-scrollbar {
  width: 0px;
}
html,
body {
  margin: 0;
  padding: 0;
}
:root {
  --StatusBarHeight: 46px ;
}
#app {
  margin-top: var(--StatusBarHeight);
  width: 100vw;
  height: calc(100vh - var(--StatusBarHeight));
}
a,
h1,
h2,
h3,
h4,
p {
  -webkit-font-smoothing: subpixel-antialiased;
}
a,
svg,
img,
i {
  -webkit-user-drag: none;
  user-select: none;
}
[hide],
.hide,
.Hide {
  display: none !important;
}
[show],
.Show,
.show {
  display: inherit !important;
}

/* ../view/main/index.css */
#app {
  display: grid;
  grid-template-columns: 1.9fr 5fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#Sidebar {
  background: rgba(255, 255, 255, 1);
  border-right: 2px solid #00000008;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1.3fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#MianContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 3.6fr 6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.WeatherList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f899;
  align-content: center;
  border-top: 10px solid #fafafb;
  border-bottom: 10px solid #fafafb;
}
.WeatherList .Card {
  background-color: #FFF;
  border-radius: 12px;
  height: 210px;
  overflow: hidden;
  min-width: 145px;
  max-width: 250px;
  border: 1px solid #E1E1E1;
  width: 90%;
  margin: 0 0 0 10px;
}
.PictureView {
  width: 100%;
  height: 77%;
  position: relative;
}
.Center {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.MaxSize {
  width: 100%;
  height: 100%;
}
.WeatherList .Picture {
  height: 66%;
}
.BottomInfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.MiSans_R {
  font-family: "MiSans-Regular";
}
.TempList {
  display: flex;
  color: blanchedalmond;
}
.TempList a {
  color: rgb(71 71 71 / 81%);
  font-size: 0.8em;
  padding: 0 15px 0 2px;
}
.BottomInfo .time {
  margin-top: -7px;
  padding-bottom: 5px;
  font-size: 15px;
  -webkit-font-smoothing: initial;
  color: #999999;
}
.SidebarSelectTop {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 65px;
  width: 100%;
}
.OptionButton {
  max-width: 50px;
  max-height: 50px;
  width: 80%;
  height: 80%;
  min-width: 30px;
  min-height: 30px;
  background: #F6F6F8;
  border-radius: 50em;
  cursor: pointer;
}
.OptionButton:hover {
  box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.11);
}
.OptionButton:active {
  box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.11);
}
#Sidebar .info {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
#Sidebar .state {
  font-size: 1.3em;
}
#Sidebar .city {
  color: #B2B6B6;
  font-size: 0.8em;
}
.Select_INFO .msg {
  width: 6px;
  height: 6px;
  position: absolute;
  background: #FF7A40;
  border-radius: 50%;
  right: 32%;
  top: 37%;
}
.Select_INFO {
  position: relative;
}
.WeatherPictureView {
  width: 100%;
  height: 223px;
}
.WeatherPictureView .View {
  width: 60%;
  max-width: 230px;
  height: auto;
}
.NowTemp .tempe {
  font-size: 68px;
  color: #474747;
}
.NowTemp {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.UpdateMain {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: -29px;
  font-size: 15px;
  color: #b2b6b6;
}
.UpdateTime {
  padding-right: 5px;
}
.NavHeader {
  min-height: 75px;
  max-height: 80px;
  display: grid;
  grid-template-columns: 5fr 3.5fr 1.2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: center;
  align-items: center;
}
.Visualization {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--TargetFeel-grid-column-gap);
  grid-row-gap: 0px;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.Visualization .Visual {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.11);
  border-radius: 17px;
  width: 80px;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.5fr 0.8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}
.Visualization .Selected {
  display: none;
  width: 19px;
  height: 2px;
  background: #738DE0;
  border-radius: 44px;
}
.Visual:hover .Selected {
  display: initial;
}
.Visualization .Visual .title {
  width: 30px;
  height: 20px;
  font-size: 13.5px;
  color: #666666;
  margin: 7px 25px 0 5px;
}
.Visualization .Visual .Target_Text {
  font-size: 22px;
  line-height: 37px;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.NavigationBarMain {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.NavigationBarMain * {
  user-select: none;
}
.NavigationBar {
  width: 95%;
  height: 82px;
  bottom: 70px;
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.23);
  border-radius: 19px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.NavigationBarButton {
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 14px;
}
.ButtonBack {
  background: linear-gradient(131.46deg, #F6F7FB 2.97%, rgba(246, 247, 251, 0.66) 150.02%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  color: #adbbcf;
  width: 100%;
  border-radius: 14px;
  height: 100%;
}
.ExceHide {
  overflow: hidden;
}
.NavHeader .UsersHeadImg {
  width: 45px;
  height: 45px;
  border-radius: 9px;
}
.Avatar:hover .AvatarBackg {
  display: block;
}
.Avatar {
  cursor: pointer;
}
.NavHeader .AvatarBackg {
  cursor: pointer;
  width: 54px;
  height: 45px;
  background: #0000000d;
  position: absolute;
  z-index: -1;
  right: 9px;
  border-radius: 9px;
  display: none;
}
.NavHeader .AvatarBackg img {
  cursor: pointer;
  width: 25px;
  margin-left: 29px;
  margin-top: 9px;
  opacity: 0.6;
}
.NavHeader .AskHou {
  color: rgba(158, 174, 198, 1);
  letter-spacing: 1.05px;
  font-size: 120%;
  cursor: pointer;
  width: 95% !important;
}
.NavHeader .UsersName {
  color: rgba(150, 150, 150, 1);
  letter-spacing: 0.85px;
  font-size: 17px;
  padding-bottom: 3px;
}
.NavHeader .AskHouMain {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
}
.SearchMain {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(246, 246, 248, 1);
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.6fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.SearchMain .Search {
  background: none;
  outline: none;
  border-width: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #606266;
}
.SearchMain .Search:focus {
  outline: none;
}
.SearchMain .Search::-webkit-input-placeholder {
  color: #DDDADA;
}
.SearchMain .icon {
  margin-right: -9px;
}
.SearchSetUP .SplitLine {
  width: 1px;
  height: 20px;
  background: #DDDADA;
  margin-right: 3px;
}
.SearchSetUP {
  cursor: pointer;
}
.NavigationBarButton .Name {
  margin-left: 2px;
}
.hotMain {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.LeaderBoard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 15px 0 0;
}
.TopFunMain {
  display: grid;
  grid-template-columns: 1.5fr 2.6fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.TopFunMain {
  height: 381px;
  width: 100%;
}
.TopFunction {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-left: 5%;
}
.TopFunction .FunCard {
  user-select: none;
  width: 90%;
  height: 209px;
  background: #FFFFFF;
  border: 1px solid #E0E4E4;
  box-sizing: border-box;
  border-radius: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.FunCard .CardIcon {
  width: 70px;
  height: 69px;
  background: #FFFFFF;
  border: 10px solid #F4F7F8;
  box-sizing: border-box;
  border-radius: 16px;
}
.CardIcon img {
  width: 25px;
  height: auto;
}
.FunCard:hover,
.NearNote:hover {
  border: 1px solid #adbbcfad;
  cursor: pointer;
}
.FunCard:active,
.NearNote:active {
  box-shadow: inset -16px 16px 32px #f5f5f5, inset 16px -16px 32px #ffffff;
}
.FunCard .Name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #474747ad;
}
.FunCard .info {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: rgba(71, 71, 71, 0.3);
}
.NearNote {
  display: grid;
  grid-template-columns: 6.5fr 1fr;
  width: 93%;
  height: 101%;
  background: white;
  border-radius: 18px;
  border: 1px solid #E0E4E4;
  margin-left: 5%;
}
.NearNote .Strips {
  width: 6px;
  height: 39px;
  background: #738DE0;
  border-radius: 20px;
}
.NearNote .StripsImag {
  height: 39px;
  display: none;
}
.NearNote:hover .StripsImag {
  display: inline;
}
.NearNote:hover .Strips {
  display: none;
}
.NearNote .NearCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 22px;
}
.NearCardText .Title {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #474747;
}
.NearCardText .Info {
  font-size: 13.9px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #B0B0B0;
  margin-top: 5px;
}
.NoteMain {
  width: 95%;
  height: calc(100% - 19px);
  background: white;
  border-radius: 18px;
  border: 1px solid #E0E4E4;
  margin-bottom: -21px;
}
.NoteMainView {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 3.5fr 3fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 85%;
  height: 85%;
  position: relative;
}
.AddNoteTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #474747;
}
.AddNoteDefaultImaes {
  position: absolute;
  width: 290px;
  height: 90%;
  top: 20px;
  right: -10px;
}
.NoteMainView .IconMain {
  width: 52px;
  height: 52px;
  left: 0px;
  top: 0px;
  border-radius: 72px;
}
.NoteMainView #AddNoteBtn .IconMain {
  background: rgba(255, 182, 43, 0.55);
}
.NoteMainView #remindBtn .IconMain {
  background: #C6DAFF;
}
.NoteMainView #SkyChangeBtn .IconMain {
  background: rgba(46, 173, 115, 0.83);
}
.NoteMainView .itme {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.itme .ItmeFuninfo {
  margin-left: 10px;
}
.itme .info {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #989BA2;
}
.itme .title {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #474747;
  padding-bottom: 2px;
}
.itme .Split {
  position: absolute;
  bottom: 0px;
}
.AddNoteEgg-date {
  color: #738de0;
  right: 48px;
  position: absolute;
  top: 64px;
  font-size: 12px;
}

/* ../node_modules/tippy.js/dist/tippy.css */
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property:
    transform,
    visibility,
    opacity;
}
.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

/* ../node_modules/tippy.js/themes/light-border.css */
.tippy-box[data-theme~=light-border] {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 8, 16, .15);
  color: #333;
  box-shadow: 0 4px 14px -2px rgba(0, 8, 16, .08);
}
.tippy-box[data-theme~=light-border] > .tippy-backdrop {
  background-color: #fff;
}
.tippy-box[data-theme~=light-border] > .tippy-arrow:after,
.tippy-box[data-theme~=light-border] > .tippy-svg-arrow:after {
  content: "";
  position: absolute;
  z-index: -1;
}
.tippy-box[data-theme~=light-border] > .tippy-arrow:after {
  border-color: transparent;
  border-style: solid;
}
.tippy-box[data-theme~=light-border][data-placement^=top] > .tippy-arrow:before {
  border-top-color: #fff;
}
.tippy-box[data-theme~=light-border][data-placement^=top] > .tippy-arrow:after {
  border-top-color: rgba(0, 8, 16, .2);
  border-width: 7px 7px 0;
  top: 17px;
  left: 1px;
}
.tippy-box[data-theme~=light-border][data-placement^=top] > .tippy-svg-arrow > svg {
  top: 16px;
}
.tippy-box[data-theme~=light-border][data-placement^=top] > .tippy-svg-arrow:after {
  top: 17px;
}
.tippy-box[data-theme~=light-border][data-placement^=bottom] > .tippy-arrow:before {
  border-bottom-color: #fff;
  bottom: 16px;
}
.tippy-box[data-theme~=light-border][data-placement^=bottom] > .tippy-arrow:after {
  border-bottom-color: rgba(0, 8, 16, .2);
  border-width: 0 7px 7px;
  bottom: 17px;
  left: 1px;
}
.tippy-box[data-theme~=light-border][data-placement^=bottom] > .tippy-svg-arrow > svg {
  bottom: 16px;
}
.tippy-box[data-theme~=light-border][data-placement^=bottom] > .tippy-svg-arrow:after {
  bottom: 17px;
}
.tippy-box[data-theme~=light-border][data-placement^=left] > .tippy-arrow:before {
  border-left-color: #fff;
}
.tippy-box[data-theme~=light-border][data-placement^=left] > .tippy-arrow:after {
  border-left-color: rgba(0, 8, 16, .2);
  border-width: 7px 0 7px 7px;
  left: 17px;
  top: 1px;
}
.tippy-box[data-theme~=light-border][data-placement^=left] > .tippy-svg-arrow > svg {
  left: 11px;
}
.tippy-box[data-theme~=light-border][data-placement^=left] > .tippy-svg-arrow:after {
  left: 12px;
}
.tippy-box[data-theme~=light-border][data-placement^=right] > .tippy-arrow:before {
  border-right-color: #fff;
  right: 16px;
}
.tippy-box[data-theme~=light-border][data-placement^=right] > .tippy-arrow:after {
  border-width: 7px 7px 7px 0;
  right: 17px;
  top: 1px;
  border-right-color: rgba(0, 8, 16, .2);
}
.tippy-box[data-theme~=light-border][data-placement^=right] > .tippy-svg-arrow > svg {
  right: 11px;
}
.tippy-box[data-theme~=light-border][data-placement^=right] > .tippy-svg-arrow:after {
  right: 12px;
}
.tippy-box[data-theme~=light-border] > .tippy-svg-arrow {
  fill: #fff;
}
.tippy-box[data-theme~=light-border] > .tippy-svg-arrow:after {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
  background-size: 16px 6px;
  width: 16px;
  height: 6px;
}
/*# sourceMappingURL=app.css.map */
